# ktlint config
[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^
max_line_length = 120
ktlint_standard_no-wildcard-imports = disabled
ktlint_disabled_rules = no-wildcard-imports, spacing-between-declarations-with-annotations
ktlint_standard_package-name = disabled
ktlint_standard_spacing-between-declarations-with-annotations = disabled
ktlint_standard_colon-spacing = disabled
