.gradle/
gradlew
gradlew.bat
build/
local.properties
.classpath
.project
.settings/
.idea/
*.iml
bin/
gen/
target/
Thumbs.db
production/
lib/
out/
*.iml
*.so
.DS_Store
.externalNativeBuild/
gradle-wrapper.jar
wallet/prod
wallet/.cxx
