.gradle/
gradlew
gradlew.bat
build/
local.properties
local.properties.windows
local.properties.osx
.classpath
.project
.settings/
.idea/
.kotlin/
*.iml
bin/
gen/
target/
Thumbs.db
production/
lib/
out/
*.so
.DS_Store
.externalNativeBuild/
.cxx/
gradle-wrapper.jar
wallet/prod
wallet/.cxx
wallet/cpp
vendor/
fastlane/report.xml
fastlane/metadata
google-services.json
output-metadata.json
service.properties
wallet/assets/explore/*.db
.deploy/*.json
*.keystore
.java-version # used by jenv for choosing java version at the command line
.bundle/config
