[submodule "wallet/cpp/dashj-bls/bls-signatures"]
	path = wallet/cpp/dashj-bls/bls-signatures
	url = https://github.com/Chia-Network/bls-signatures.git
[submodule "dpp"]
	path = dpp
	url = https://github.com/dashevo/android-dpp
