.gradle/
gradlew
gradlew.bat
build/
local.properties
local.properties.windows
local.properties.osx
.classpath
.project
.settings/
.idea/
*.iml
bin/
gen/
target/
Thumbs.db
production/
lib/
out/
*.iml
*.so
.DS_Store
.externalNativeBuild/
.cxx/
gradle-wrapper.jar
wallet/prod
wallet/.cxx
wallet/cpp
google-services.json
output-metadata.json
service.properties