-dontskipnonpubliclibraryclasses
-dontoptimize
-dontpreverify
-dontobfuscate
-verbose

# android-support
-keep class android.support.v7.widget.RoundRectDrawable { *; }
-keep class android.support.v7.widget.SearchView { *; }

# android-support-design
-keep class android.support.design.widget.** { *; }
-keep interface android.support.design.widget.** { *; }
-dontwarn android.support.design.**

# bitcoinj
-keep class org.bitcoinj.wallet.Protos$** { *; }
-keep class org.bitcoin.protocols.payments.Protos$** { *; }
-dontwarn org.bitcoinj.store.WindowsMMapHack
-dontwarn org.bitcoinj.store.LevelDBBlockStore
-dontwarn okio.DeflaterSink
-dontwarn okio.Okio

# zxing
-dontwarn com.google.zxing.common.BitMatrix

# Guava
-dontwarn sun.misc.Unsafe
-dontwarn com.google.common.collect.MinMaxPriorityQueue

# logback-android
-dontwarn javax.mail.**

-dontwarn java.util.ArrayList.sort