name: DashPay CI

on:
  push:
    branches: [ dashpay ]
  pull_request:
    branches: [ dashpay ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get build number from run id
      env:
          run_num: ${{ github.run_id }}
      run: |
          echo "build_number=$((80000+$run_num))" >> $GITHUB_ENV
    
    - uses: actions/checkout@v2
    - name: set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '3.0.2'
        
    - name: Generate cache key
      run: bash ./checksum.sh checksum.txt
      
    - name: Gem caching
      uses: actions/cache@v2
      continue-on-error: true
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
            ${{ runner.os }}-gems-
            
    - name: Setup fastlane
      run: |
        gem install bundler:2.2.26
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
        
    - name: Cache Gradle packages
      uses: actions/cache@v2
      continue-on-error: true
      with:
        path: |
          ~/.gradle/caches/modules-*
          ~/.gradle/caches/jars-*
          ~/.gradle/caches/build-cache-*
        key: ${{ runner.os }}-gradle-${{ hashFiles('checksum.txt') }}
      
    - name: Decrypt secrets
      run: |
        gpg -d --passphrase "${{ secrets.GOOGLE_SERVICES_KEY }}" --batch .deploy/google-services.json.gpg > wallet/google-services.json
        gpg -d --passphrase "${{ secrets.SERVICE_PROPERTIES_KEY }}" --batch .deploy/service.properties.gpg > service.properties
        gpg -d --passphrase "${{ secrets.APP_DISTRIBUTION_KEY }}" --batch .deploy/app-distribution-key.json.gpg > .deploy/app-distribution-key.json
        gpg -d --passphrase "${{ secrets.KEYSTORE_KEY }}" --batch .deploy/keystore.jks.gpg > .deploy/keystore.jks
    
    - name: Test
      run: bundle exec fastlane test flavor:"staging" type:"debug"
      
    - name: Build
      if: github.event_name == 'pull_request'
      run: bundle exec fastlane build flavor:"staging" type:"release" store_pass:"${{ secrets.SIGNING_STORE_PASS }}" version_code:"${{ env.build_number }}"
      
    - name: Build and Firebase Distribution
      if: github.event_name == 'push'
      run: bundle exec fastlane build_distribute flavor:"staging" type:"release" store_pass:"${{ secrets.SIGNING_STORE_PASS }}" version_code:"${{ env.build_number }}" comment:"Up to date DashPay build" app_id:"1:1039839682638:android:bbcfa8c9939ee993ea631f" test_group:"qa"
